svg(width="100%", height="100%", fill="currentColor", enable-background="new 0 0 24 24", viewBox="0 0 24 24", xml:space="preserve", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
  | <rect height="3"  width="8" x="8"    y="10.5"/>
  | <rect height="12" width="2" x="6"    y="6"/>
  | <rect height="12" width="2" x="16"   y="6"/>
  | <rect height="9"  width="2" x="3.5"  y="7.5"/>
  | <rect height="9"  width="2" x="18.5" y="7.5"/>
  | <rect height="3"  width="2" x="1"    y="10.5"/>
  | <rect height="3"  width="2" x="21"   y="10.5"/>
