svg(width="100%", height="100%", viewBox="0 0 26 26", fill="currentColor")
  g
    | <path d="M21.869,11.012c0.021-0.266,0.039-0.532,0.056-0.799c0.027-0.431,0.333-0.808,0.321-1.241
    | c-0.008-0.303-0.334-0.6-0.35-0.879c-0.026-0.478,0.383-0.528,0.373-0.975c-0.014-0.525-0.432-1.169-0.715-1.585
    | c-0.16-0.236-0.746-0.708-0.797-1.014c-0.037-0.228,0.077-0.23,0.126-0.421c0.07-0.281,0.233-0.21,0.106-0.516
    | c-0.035-0.083-0.352-0.294-0.424-0.347c-1.153-0.831-2.104-1.802-3.434-2.38c-1.285-0.56-2.699-0.79-4.098-0.79
    | c-2.448,0-4.833,0.939-7.019,1.972c-0.341,0.161-0.728,0.255-0.98,0.568C4.573,3.18,5.208,3.059,5.372,3.516
    | c0.205,0.571-0.955,1.623-1.257,2.113c-0.24,0.389-0.509,0.758-0.5,1.229C3.624,7.271,3.891,7.57,3.882,7.945
    | C3.874,8.37,3.577,8.786,3.551,9.201c-0.027,0.435,0.375,0.816,0.5,1.217c0.053,0.169,0.089,0.346,0.118,0.525
    | C3.5,11.571,3.1,12.573,3.1,13.727c0,1.521,0.987,3.065,2.135,3.569C6.53,22.695,11.237,23.9,13,23.9
    | c1.178,0,3.679-0.551,5.595-2.546c0.012,0.756-0.196,1.703-0.342,2.105c-0.058,0.158-0.118,0.315-0.176,0.474
    | c-0.095,0.258-0.108,0.484-0.109,0.767c0,0.407,0.232,0.956,0.61,1.141c0.339,0.166,0.609,0.234,1.193-0.053
    | c0.305-0.149,0.431-0.679,0.461-0.994c0.027-0.304-0.026-0.603-0.149-0.876c-0.142-0.312-0.336-0.595-0.479-0.9
    | c-0.133-0.281-0.203-0.588-0.232-0.897c-0.021-0.215-0.066-1.217-0.033-1.664c0.602-0.84,1.103-1.864,1.416-3.126
    | c1.268-0.481,2.146-2.117,2.146-3.605C22.9,12.65,22.506,11.657,21.869,11.012z M20,15.67c-0.368,0-0.682,0.23-0.818,0.559
    | c-0.157,0.13-0.321,0.244-0.498,0.256c-0.438,0.029-1.082-0.328-1.49-0.102c-0.557,0.309-0.232,1.723-0.543,2.275
    | c-0.342,0.605-0.881,0.631-1.363,0.793c-0.21,0.07-0.409,0.166-0.577,0.347c-0.308,0.33-0.099,0.817-0.272,1.202
    | c-0.158,0.352-0.484,0.55-0.83,0.689c-0.521,0.212-1.162,0.286-1.76,0.236c-1.71-0.444-4.284-1.868-4.962-5.523
    | c-0.079-0.427-0.432-0.734-0.866-0.734C5.74,15.617,4.9,14.763,4.9,13.727c0-0.834,0.321-1.383,0.634-1.571
    | c0.474-0.175,0.932-0.4,1.028-0.527c0.391-0.518,0.317-1.272,0.291-1.879C6.809,8.761,6.741,7.782,6.881,6.797
    | C6.945,6.345,6.94,5.682,7.088,5.264c0.247-0.7,0.701-0.356,1.199-0.313c0.591,0.051,0.488-0.47,0.965-0.554
    | c0.854-0.151,1.18,0.963,1.332,1.537c0.066,0.25,0.135,0.863,0.404,1.03c0.408,0.253,0.686-0.156,0.782-0.503
    | c0.184-0.663-0.273-1.824,0.257-2.355c1.586-1.587,1.65,3.167,2.448,3.166c0.43-0.002,0.526-0.592,0.61-0.873
    | c0.208-0.699,0.155-1.448,0.526-2.102c0.676-1.184,2.214-1.039,3.009-0.068c1.114,1.363,0.61,2.98,0.491,4.588
    | c-0.087,1.188,0.103,2.335,0.901,2.972c0.089,0.131,0.199,0.249,0.353,0.32c0.356,0.167,0.734,0.789,0.734,1.615
    | C21.1,14.789,20.372,15.67,20,15.67z"/>
    | <path d="M13,15c-0.566,0-1.375,2-1,2s0.698-0.656,1.047-0.656C13.396,16.344,13.719,17,14,17S13.566,15,13,15z"/>
    | <path d="M16.037,11.296C14.26,11.814,14,12.757,14,12.757c0,1.085,0.918,2.206,2.004,2.206
    | C18,14.963,19,13.085,19,12C19,12,17.814,10.778,16.037,11.296z M17.172,13.5c0,0.371-0.301,0.672-0.672,0.672
    | s-0.672-0.3-0.672-0.672s0.301-0.672,0.672-0.672S17.172,13.129,17.172,13.5z"/>
    | <path d="M7,12c0,1.085,1,2.963,3.035,2.963c0.874,0,1.965-1.121,1.965-2.206L7,12z M9.5,14.172
    | c-0.372,0-0.672-0.3-0.672-0.672s0.301-0.672,0.672-0.672s0.672,0.301,0.672,0.672S9.872,14.172,9.5,14.172z"/>