@import "../../../constant";

.select-lifts {
  .content {
    padding-top: 0; padding-bottom: 0;
    text-align: right;
  }

  .routine-wrapper, .lifts-wrapper {
    box-sizing: border-box;
    position: relative; vertical-align: top;
    display: inline-block; width: 50%;

    -webkit-transition: width 0.1s linear;
    transition: width 0.1s linear;
  }

  .routine-wrapper {
    padding-right: 0.25em;
    @media(min-width: 30em) { width: 33.3%; }
  }

  .lifts-wrapper {
    padding-left: 0.25em;
    @media(min-width: 30em) { width: 66.6%; }
  }

  .routine, .lifts {
    padding-bottom: 0.25em;
    text-align: left; background-color: @lightest_green;
  }

  .routine h3, .lifts .lift-type { height: 1.5em; }

  .routine {
    position: absolute; left: 0; top: 0; right: 0.25em;
    -webkit-transition: top 0.1s linear;
    transition: top 0.1s linear;

    h3 {
      margin: 0;
      padding: 0.375em 0.5em 0.125em;
      border-bottom: 1px solid @light_green;
      font-family: @finger_paint;
    }

    .lift {
      line-height: 2em;

      div { display: inline-block; vertical-align: bottom; }
      .number, .remove { width: 12.5%; text-align: center; }
      .name { width: 75%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

      .remove {
        cursor: pointer;
        transform: scale(1.25, 1.25);

        &:hover { color: @blood_red; }
      }
    }
  }

  @media(min-width: 30em) {
    .lifts article.lift {
      box-sizing: border-box; display: inline-block; width: 50%;

      text-align: center;

      &:nth-of-type(odd) { padding-right: 0.25em; }
      &:nth-of-type(even) { padding-left: 0.25em; }
    }
  }


  button.lift {
    background-color: @lightest_green;
    background-image: -webkit-linear-gradient(top, @lightest_green, darken(@lightest_green, 10%));
    background-image:         linear-gradient(to bottom, @lightest_green, darken(@lightest_green, 10%));
  }

  .lift-type {
    padding: 0.375em 0.5em 0.125em;
    border-bottom: 1px solid @light_green;
  }

  .lift {
    position: relative;
    line-height: 1.25em;

    color: @darker_green;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &.selected {
      background-color: @neon_green;
      background-image: -webkit-linear-gradient(top, @neon_green, darken(@neon_green, 10%));
      background-image:         linear-gradient(to bottom, @neon_green, darken(@neon_green, 10%));
    }
  }
}