.modal-background
  .modal-gutter
  .modal-dialog
    .date-picker
      datepicker(ng-model="selected_date", min-date="minDate", show-weeks="false")
        | Hello
    br
    .change-date
      button(ng-click="changeDate()")="Change Date"
  .modal-gutter
