.routines(ng-show="$state.is('user.routines')")
  section
    .content
      article.routine.tal(ng-repeat="routine in routines")
        .name.h3-font-size!="{{routine.name}}"
        .lifts
          .lift.ib(ng-repeat="lift in routine.lifts")
            | {{ lift.name }} {{ lift.sets.length }}x{{ lift.sets[0].target }}{{ !$last ? ',&nbsp;' : '' }}
div(ui-view="")