nav
  .content
    .w25.tal
      include ../../jade-include/nav/index-link
    .w50.state-title
      .h2-font-size!="Select Routine"
    .w25.tar
      include ../../jade-include/nav/sign-out-link
section
  .content
    .tac
      article.routine(ng-repeat="routine in routines")
        button.p1em(ng-click="selectRoutine(routine)")!="{{routine.name}}"