section
  .content
    .tac
      article.routine(ng-repeat="routine in routines")
        button.p1em(ng-click="selectRoutine(routine)")!="{{routine.name}}"
      hr
      article.create-routine
        button.p1em(ui-sref="user.create-routine.select-lifts")!="Create Routine"