section.filters
  .content
    article.type-filter
      .fake-select
        .filter(ng-include="'svg/filter.html'")
        .value(ng-bind="type.name")
        .chevron-arrow-down(ng-include="'svg/chevron-arrow-down.html'")
      select(ng-model="type", ng-options="type.name for type in types")
    article.name-filter(ng-show="type !== -2")
      .search(ng-include="'svg/search.html'")
      input(type="text", ng-model="search", placeholder="Filter by name")
section.add-lift
  // article(ng-repeat="lift in lifts | filter:search | filter:isLiftSelectedFilter() | filter:isLiftTypeFilter()")
  .content.lifts
    article.lift(ng-show="type !== -2", ng-repeat="lift in filtered | filter:search | filter:isLiftTypeFilter(type)", ng-class="getLiftClassName(lift)")
      button(ng-click="addLift(lift)", ng-disabled="isLiftSelected(lift)")
        | {{ lift.name }}
