section.select-routine
  .content
    .tac
      article(ng-repeat="routine in routines.slice().reverse()")
        .routine(ng-click="user.current_workout ? showConfirm(routine) : selectRoutine(routine)")
          .name.h3-font-size!="{{routine.name}}"
          .lifts
            .lift(ng-repeat="lift in routine.lifts")
              | {{ lift.name }} {{ lift.sets }}x{{ lift.reps }}{{ !$last ? ',&nbsp;' : '' }}
      article(ng-if="routines.length === 0")
        .routine
          .name.h3-font-size!="No routines created."
          .lifts
            .lift(ui-sref="user.routine.create")!="Create a routine"
