table
  thead
    tr
      th
        a(ng-click="prev()")!="&lsaquo;"
      th(colspan="5")!="{{ date | date:'MMMM yyyy' }}"
      th
        a(ng-click="next()")!="&rsaquo;"
    tr.days-of-the-week
      th(ng-repeat="day in DAYS_IN_WEEK")!="{{ day|date:'EEE' }}"
  tbody
    tr(ng-repeat="week in weeks")
      td(ng-repeat="day in week")
        a(ng-if="date.getMonth() === day.getMonth()", ng-class="{'active': isSameDay(day)}", ng-click="setDate(day)", ng-bind="day.getDate()")
.buttons
  .cancel.ib.w33.pr05em
    // TODO: Find a way around the following copy-paste.
    button.w100(ng-if="$state.includes('user.workout')", ui-sref="user.workout")="Cancel"
    // TODO: Find a way around the following copy-paste.
    button.w100(ng-if="$state.includes('user.history.details')", ui-sref="user.history.details")="Cancel"
  .change.ib.w66.pl05em
    button.w100(ng-click="submit()")="Change Date"
