.routines
  section(ng-show="$state.is('user.routine.list')")
    .content
      article(ng-repeat="routine in routines")
        .routine(ui-sref="user.routine.edit({ id: routine.$id })")
          .name.h3-font-size!="{{routine.name}}"
          .lifts
            .lift.ib(ng-repeat="lift in routine.lifts")
              | {{ lift.name }} {{ lift.sets }}x{{ lift.reps }}{{ !$last ? ',&nbsp;' : '' }}
  div(ui-view="")