.modal-background(ng-click="$state.back()")
  .modal-gutter
  .modal-dialog
    .date-picker
      datepicker(date="date", min-date="minDate", show-weeks="false", on-submit="changeDate(date)")
  .modal-gutter