@import "common";
@import "adapt";

@import "cleanlifts/constant";
@import "cleanlifts/index";
@import "cleanlifts/form";
@import "cleanlifts/modal";
@import "cleanlifts/workout";
@import "cleanlifts/history";
@import "cleanlifts/datepicker";

body {
  background-color: @light_green;
  font-family: @belleza;
}

a {
  cursor: pointer;
  color: @darker_green;
  text-decoration: none;
}

button {
  border: 0;
  box-shadow: @box_shadow;
  background-color: @darker_green;
  color: @lightest_green;
  font-family: monospace;

  &:hover {
    color: @neon_green;
  }
}

h1 { font-family: @finger_paint; }
h2, h3 { font-family: @alconica; }

nav, section {
  .heading, .content {
    max-width: 30em;

    padding-left: 0.5em; padding-right: 0.5em;
  }
}

nav {
  background-color: #080808;
  text-align: center;
  font-family: @creepster;

  a {
    color: @light_green;
    text-decoration: none;

    &:hover {
      color: @neon_green;
    }
  }

  .left,
  .right {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding: 0.25em 0.5em;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }
}

section {
  position: relative;
  padding-top: 0.5em; padding-bottom: 0.5em;
}

.heading {
  position: relative;
}

