@import "common";
@import "adapt";

@import "cleanlifts/form";
@import "cleanlifts/workout";
@import "cleanlifts/history";

body {
  background-color: #f8f8f8;
}

nav {
  background-color: #080808;

  a {
    color: #f8f8f8;
    text-decoration: none;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  }

  .left,
  .right {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding: 0.25em 0.5em;
  }

  .right {
    text-align: right;
  }
}

