@import "common/normalize";
@import "common/text";
@import "common/util";
@import "common/modal";


nav, section {
  .heading, .content {
    box-sizing: border-box;
    margin-left: auto; margin-right: auto;
  }
}

section {
  text-align: center;

  article {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}