.workout
  section
    .heading
      h1
        | Workout Details
    .content
      .date-and-routine-name.h3-font-size
        .date
          a
            | {{ date | date:'EEE MMM d' }}
        .routine-name
          | {{ workout.routine.name }}
      .routine
        .lift(ng-repeat="lift in workout.routine.lifts", ng-class="[lift.classname]")
          .name-and-weight
            .name!="{{ lift.name }}"
            a.weight(ui-sref="user.workout.change-weight({ lift: lift.name })")!="{{ user.working_weight[lift.name] }} {{ weight_unit }}"
          .set(ng-repeat="set in getNumber(lift.sets) track by $index", ng-click="updateSet(lift, $index)", ng-class="{completed: lift.completed[$index] > -1}")
            .reps
              | {{ lift.completed[$index] > -1 ? lift.completed[$index] : lift.reps }}
