h1
  | Workout Details
.workout(ng-repeat="workout in details")
  h2
    | {{ workout.routine }}
  .routine
    .lift(ng-repeat="lift in workout.lifts", ng-class="[lift.classname]")
      .name-and-weight
        .name!="{{ lift.name }}"
        a.weight(ui-sref="user.workout.change-weight({ lift: lift.name })")!="{{ user.working_weight[lift.name] }} {{ weight_unit }}"
      .set(ng-repeat="set in getNumber(lift.sets) track by $index", ng-click="updateSet(lift, $index)", ng-class="{completed: lift.completed[$index] > -1}")
        .reps
          | {{ lift.completed[$index] > -1 ? lift.completed[$index] : lift.reps }}
