section
  .heading
    h1
      | Recent Workouts
      a.calendar-link(ui-sref="user.history.month({year: now.getFullYear(), month: now.getMonth() + 1})")
        include ../../svg/calendar
  .content
    .recent-workouts
      .year(ng-repeat="(y, year) in history | orderObjectBy:'year':true")
        .month(ng-repeat="(m, month) in year.months | orderObjectBy:'month':true")
          h2
            | {{ prettyMonth(month.month) }} {{ year.year }}
          table
            tr.day(ng-repeat="(d, day) in month.days | orderObjectBy:'day':true")
              td.date
                a(ui-sref="user.history.details({year: year.year, month: month.month, day: day.day})")
                  .day
                    | {{ day.day }}
                  .day-of-week
                    | {{ getDayOfWeek(day[0].time) }}
              td.workouts
                .past-workout(ng-repeat="workout in day")
                  h3.routine-name
                    | {{ workout.routine }}
                  table.lifts
                    tr.lift(ng-repeat="lift in workout.lifts")
                      td.lift-name="{{ lift.name }}"
                      td.weight="{{ lift.weight }}{{ weight_unit }}"
                      td.reps-completed="{{ lift.completed | liftsCompleted }}"
