@import "constant";

.workout {
  .date-and-routine-name, .lift {
    background: @lightest_green;
    box-shadow: @box_shadow;
    margin: 1em 0;
  }

  .date-and-routine-name {
    font-size: 0.95em;

    .date, .routine-name {
      display: inline-block;
      box-sizing: border-box;
      padding: 0.5em;
      vertical-align: bottom;
    }

    .date {
      width: 40%;
      background-color: @darker_green;
      font-family: monospace;
      text-align: center;

      a {
        color: @lightest_green;

        &:hover {
          color: @neon_green;
        }
      }
    }

    .routine-name {
      width: 60%;
      line-height: 1.25em;
      font-family: @finger_paint;
      text-align: center;
      text-overflow: ellipsis;
    }

    @media(min-width: 22.5em) { font-size: 1em; }

    @media(min-width: 25em) {
      .date { width: 35%; }
      .routine-name { width: 65%; }
    }

    @media(min-width: 27.5em) {
      .date { width: 30%; }
      .routine-name { width: 70%; }
    }
  }
}

.name-and-weight {
  border-bottom: 1px solid @light_green;

  .name, .weight {
    padding: 0.5em;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: bottom;
  }

  .name {
    width: 75%;
    line-height: 1.25em;
    font-family: @finger_paint;
    text-transform: uppercase;
  }

  .weight {
    width: 25%;

    background-color: @darker_green;
    color: @lightest_green;
    font-family: monospace;

    &:hover {
      color: @neon_green;
    }
  }

  @media (min-width: 22.5em) {
    .name { width: 80%; }
    .weight { width: 20%; }
  }
}

// workout sets
.set {
  display: inline-block; box-sizing: border-box; padding: 0.5em;
  font-family: @finger_paint; cursor: pointer; text-align: center;
}
.one-set .set { width: 100%; }
.two-sets .set { width: 50%; }
.three-sets .set { width: 33.3%; }
.four-sets .set { width: 25%; }
.five-sets .set { width: 20%; }

.set .reps {
  display: inline-block; width: 1.25em; line-height: 1.25em; padding:0.5em;
  border: 1px solid @light_green; border-radius: 100%;
  color: @light_green;
}

.set.completed .reps { color: @neon_green; border-color: @blood_red; background-color: @blood_red; }

.rest-timer {
  position: absolute; top: 0; left: 0; right: 0;
  background: #202020;
  color: white;
  font-family: sans-serif;

  .heading, .content { text-align: center; }

  .time {
    position: relative;

    .dismiss {
      position: absolute;
      top: 0;
      right: 1em;
      color: @neon_green;

      &:hover {
        color: @blood_red;
      }
    }
  }
}

.plates {
  .plate {
    display: block;
    margin: 0 auto;
    border: 3px solid @darker_green;
    border-radius: 100%;
    vertical-align: middle;
    text-align: center;
  }

  .forty-five, .thirty-five, .twenty-five, .ten, .five, .two-point-five {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0 0.5em 1em;
  }

  .forty-five .plate { width: 5em; line-height: 5em; }
  .thirty-five .plate { width: 4.5em; line-height: 4.5em; }
  .twenty-five .plate { width: 4em; line-height: 4em; }
  .ten .plate { width: 3.5em; line-height: 3.5em; }
  .five .plate { width: 3em; line-height: 3em; }
  .two-point-five .plate { width: 2.5em; line-height: 2.5em; }
}
