section.sets-and-reps
  .content
    article.routine-name
      input.w100(type="text", ng-model="routine.name", placeholder="Enter a name for this routine")
    article(ng-repeat="lift in routine.lifts")
      .lift
        .name.ib.w50
          | {{ lift.name }}
        .sets.ib.w25
          select(ng-model="lift.sets", ng-options="number for number in [1,2,3,4,5]")
        .reps.ib.w25
          select(ng-model="lift.reps", ng-options="number for number in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]")
    article.create-routine
      button(ng-disabled="name.length < 1", ng-click="createRoutine()")!="Create Routine"