nav
  .content
    .w20.tal
      include ../../../jade-include/nav/index-link
    .w60.state-title
      .h2-font-size!="History"
    .w20.tar
      include ../../../jade-include/nav/history-list-link
section
  .content
    .calendar
      table
        tr
          th
            a.prev(ui-sref="user.history.month(month === 1 ? {year: year - 1, month: 12} : {year: year, month: month - 1})")
              | &larr;
          th(colspan="5")
            h2
              | {{ month_full_name }} {{ year }}
          th
            a.next(ui-sref="user.history.month(month === 12 ? {year: year + 1, month: 1} : {year: year, month: month + 1})")
              | &rarr;
        tr.days-of-the-week
          th(ng-repeat="DAY in DAYS_IN_WEEK track by $index")!="{{ DAY }}"
        tr.week(ng-repeat="week in weeks track by $index")
          td(ng-repeat="date in week track by $index")
            .date(ng-if="date.getMonth() + 1 === month")
              span(ng-if="!dateToWorkout[formatDate('yyyyMMdd', date)]")!="{{ date.getDate() }}"
              a.details(ng-if="dateToWorkout[formatDate('yyyyMMdd', date)]", ui-sref="user.history.details({year: date.getFullYear(), month: date.getMonth() + 1, day: date.getDate()})")!="{{ date.getDate() }}"

