extends base

block body
  nav
    .left
      a(ui-sref="index")!="CLEANLIFTS"
    .right
      a(ng-if="user", ng-click="auth.logout()")!="Logout"
  section(ui-view="")
    .heading
      .tac
        .ib.tal.p1em.w100.mxw20em
          h1
            | Loading...
