extends base

block append scripts
  script(src="js/cleanlifts.js")

block body
  nav
    .left
      a(ui-sref="user.index")!="UNDEADLIFTS"
    .right
      a(ng-if="user", ng-click="logout()")!="Logout"
  section(ui-view="")
    .heading
      .tac
        .ib.tal.p1em.w100.mxw20em
          h1
            | Loading...
