extends base

block append scripts
  script(src="js/signup.js")

block append body
  section
    .heading
      h1
        | Create Your Free Account!
    .content(ng-controller="SignUpController")
      form(name="form")
        .error(ng-show="error")!="{{error}}"
        .field
          label
            | Email Address
          br
          input(type="email", ng-model="email", ng-required="true")
        .field
          label
            | Create Password
          br
          input(type="password", ng-model="password", ng-required="true")
        .field
          button(ng-click="signup()", ng-disabled="form.$invalid")!="Create My Account"

      .tac
        .ib.tal.p1em.w100.mxw20em
          a(href="login.html")!="Login to your Account"
