// display
.ib { display: inline-block; box-sizing: border-box; }

// width
.w100 { width: 100%; }
.w60 { width: 60%; }
.w50 { width: 50%; }
.w33 { width: 33.3%; }
.w25 { width: 25%; }
.w20 { width: 20%; }
.w0 { width: 0%; }
.mxw20em { max-width: 20em; }

// height
.h100 { height: 100%; }

// padding
.p1em { padding: 1em; }

// text-align
.tal { text-align: left; }
.tac { text-align: center; }
.tar { text-align: right; }

// vertical-align
.vat { vertical-align: top; }
.vam { vertical-align: middle; }
.vab { vertical-align: bottom; }

.bcw {
  background-color: white;
}

.monospace {
  font-family: monospace;
}