// display
.ib { display: inline-block; box-sizing: border-box; }

// width
.w100 { width: 100%; }
.mxw20em { max-width: 20em; }

// padding
.p1em { padding: 1em; }

// text-align
.tal { text-align: left; }
.tac { text-align: center; }
.tar { text-align: right; }


.bcw {
  background-color: white;
}