@import "../../constant";

.index {
  text-align: center;

  section {
    button {
      width: 66.666%;
      min-width: 12em;
      border-radius: 0.5em;

      .icon {
        width: 3em;
        height: 3em;
        margin: 0 auto;
      }
    }
  }
}