.index
  section
    .content
      .index
        article
          a(ng-if="!user.current_workout", ui-sref="user.select-routine")
            .icon
              include ../../jade-svg/dumbell
            .h3-font-size!="New Workout"
          a(ng-if="user.current_workout", ui-sref="user.workout")
            .icon
              include ../../jade-svg/dumbell
            .h3-font-size!="Continue Workout"
        article
          a(ui-sref="user.history.month({year: now.getFullYear(), month: now.getMonth() + 1})")
            .icon
              include ../../jade-svg/calendar
            .h3-font-size.monospace!="History"
        article
          a(ui-sref="user.settings")
            .icon
              include ../../jade-svg/gear
            .h3-font-size.monospace!="Settings"