section
  .content
    article
      .setting.tal
        .name-and-control(ng-if="auth.provider === 'password'")
          | You are logged in with your email: {{ auth.email }}
        .name-and-control(ng-if="auth.provider === 'facebook'")
          | You are logged in with you facebook account: {{ auth.facebook.displayName }}
    article(ng-repeat="id in setting_ids")
      .setting
        .name-and-control
          .name.ib.w75.tal.h3-font-size
            | {{ settings[id].name }}
          .control.ib.w25.tar
            a.boolean(ng-if="settings[id].type === 'boolean'", ng-class="[user.settings[id]]", ng-click="toggleBooleanSetting(id)")
              .off!="OFF"
              .on!="ON"
        .note.tal(ng-if="settings[id].note")
          | {{ settings[id].note }}