svg(width="100%", height="100%", viewBox="0 0 216 146", enable-background="new 0 0 216 146", fill="currentColor")
  g
    path(d="M11,26c-2.9,2.9-4.3,6.3-4.3,10.3v54.2c0,4,1.4,7.4,4.3,10.3c2.9,2.9,6.3,4.3,10.3,4.3h4.2V21.7h-4.2C17.3,21.7,13.8,23.1,11,26z")
    path(d="M90,11.2c0-1.7-0.6-3.2-1.8-4.4C87,5.6,85.5,5,83.8,5H46.2c-1.7,0-3.2,0.6-4.4,1.8C40.6,8,40,9.5,40,11.2v10.4h-8.3V105h66.7V21.7H90V11.2z M81.7,21.7H48.3v-8.3h33.3V21.7z")
    path(d="M119,26c-2.9-2.9-6.3-4.3-10.3-4.3h-4.2v37.7l4.2-1.7c4,0,10.9,0,10.9,0s0,0,3.7,0V36.2C123.3,32.3,121.9,28.8,119,26z")
  g
    path(d="M97,62c-2.9,2.9-4.3,6.3-4.3,10.3v54.2c0,4,1.4,7.4,4.3,10.3c2.9,2.9,6.3,4.3,10.3,4.3h4.2V57.7h-4.2C103.3,57.7,99.8,59.1,97,62z")
    path(d="M176,47.2c0-1.7-0.6-3.2-1.8-4.4c-1.2-1.2-2.7-1.8-4.4-1.8h-37.5c-1.7,0-3.2,0.6-4.4,1.8c-1.2,1.2-1.8,2.7-1.8,4.4v10.4h-8.3V141h66.7V57.7H176V47.2z M167.7,57.7h-33.3v-8.3h33.3V57.7z")
    path(d="M205,62c-2.9-2.9-6.3-4.3-10.3-4.3h-4.2V141h4.2c4,0,7.4-1.4,10.3-4.3c2.9-2.9,4.3-6.3,4.3-10.3V72.2C209.3,68.3,207.9,64.8,205,62z")