
section
  .heading
    h1
      | Workout History
  .content
    .workout(ng-repeat="workout in history")
      .routine-name!="{{ workout.routine_name }}"
      .lifts
        .lift(ng-repeat="lift in workout.lifts")
          .name-and-weight!="{{ lift.name }} ({{ lift.weight }} {{ user.weight_unit }})"
      br
      br