section
  .heading
    .tac
      .ib.tal.p1em.w100.mxw20em
        h1
          | CleanLifts
  .content
    button(ui-sref="choose-workout")!="New Workout"
    br
    button(ng-click="auth.logout()")!="Logout"