section
  .content
    .tac
      button.p1em(ng-if="!user.current_routine", ui-sref="user.select-routine")!="New Workout"
      button.p1em(ng-if="user.current_routine", ui-sref="user.workout")!="Continue Workout"
      br
      br
      button.p1em(ui-sref="user.history.calendar")!="History"