section
  .heading
    h1.tac
      | Select a Routine
  .content
    .tac
      .routine(ng-repeat="routine in routines")
        button.p1em(ng-click="selectRoutine(routine)")!="{{routine.name}}"
        br
        br