nav
  .content
    .w25.tal
      include ../include/nav-index-link
    .w50.tac
      .h2-font-size!="Select Routine"
    .w25.tar
      include ../include/nav-sign-out-link
section
  .content
    .tac
      .routine(ng-repeat="routine in routines")
        button.p1em(ng-click="selectRoutine(routine)")!="{{routine.name}}"
        br
        br