nav
  .content
    .w25.tal
      include ../include/nav-index-link
    .w50.tac
      .h2-font-size!="Settings"
    .w25.tar
      include ../include/nav-sign-out-link
section
  .content
      article
        | Auto-increment
      article
        | Rest Timer sound