.workout
  .content
    .date-and-routine-name.h3-font-size
      .date
        a(ui-sref="user.workout.change-date")
          | {{ date | date:'EEE MMM d' }}
      .routine-name
        | {{ routine.name }}
    .routine
      .lift(ng-repeat="lift in lifts", ng-class="[lift.classname]")
        .name-and-weight.tar
          .name.tal!="{{ lift.name }}"
          a.weight.tac(ui-sref="user.workout.change-weight({ lift: lift.name })")!="{{ user.working_weight[lift.name] }} {{ weight_unit }}"
        .set(ng-repeat="set in getNumber(lift.sets) track by $index", ng-click="updateSet(lift, $index)", ng-class="{completed: lift.completed[$index] > -1}")
          .reps
            | {{ lift.completed[$index] > -1 ? lift.completed[$index] : lift.reps }}
    .finish-workout.tac
      button.p1em(ng-click="finishWorkout()")!="Finish Workout"
.rest-timer(ng-show="showRestTimer")
  .heading
    h3
      | {{ rest_message_1 }}
  .content
    p
      | {{ rest_message_2 }}
    .time.h3-font-size
      | {{ restTime | date:'m' }}m {{ restTime | date:'s' }}s
      a.dismiss(ng-click="clearRestTimer()")
        | X
div(ui-view="")