extends ../base

block append scripts
  script(src="signup.js")

block append body
  section.signup
    .heading
      .ldquo!="&ldquo;"
      .quote!="Space monkey."
      .rdquo!="&rdquo;"
    .content(ng-controller="SignUpController")
      form(name="form")
        article
          .h3-font-size.tac
            .brand
              .icon.vam
                include ../jade-svg/zombie-head
              .ib.vam.creepster
                | Undead Lifts
        article.tac
          .h3-font-size
            | Create your free account.
        article.email
          label
            | Email Address
          .input-wrapper(ng-class="{error: emailError}")
            input(type="email", name="email", ng-model="email", ng-required="true", focus="focusEmail")
        article.password
          label
            | Create Password
          .input-wrapper(ng-class="{error: passwordError}")
            input(type="password", name="password", ng-model="password", ng-required="true", focus="focusPassword")
        article.submit
          button(ng-click="signup()", ng-disabled="form.$invalid", ng-bind="signupButtonText")!="Create my free account"

      article.sign-in
        a(href="/login")!="Login to your account"
